html,body,h1,h2,h3,h4,h6,p,a {

   font-family: 'Poppins', sans-serif;
}


.btn-primary {
  background-color: #F65251;
  border-color: #F65251;
  padding: 8px 20px;
}

.btn-primary:hover, .btn.btn-primary:active, .btn-btn-primary:focus {

  background-color: #e64a4a !important;
  border-color: #e64a4a !important;
  box-shadow: none;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {

  color: #fff;
  background-color: #e64a4a;
  border-color: #e64a4a;
  box-shadow: none;
}

/* Navbar-section */

nav.custom-navbar {

  padding: 20px 0;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}


nav .logo img{
    min-width: 250px;
    max-width: 251px;
}


nav .navbar-nav li {
  margin: 0 5px;
}
nav .navbar-nav li a {
  font-size: 1.1rem;
  font-weight: 500;
  color: #333333 !important;
}

nav .navbar-nav a:hover {
  color: #F65251 !important;
  transition: .4s all ease-in-out;
}
/* ennd navbar-section */


/* hero-section */
section#hero-section {

  padding: 4rem 0 8rem;
}


section#hero-section .title-banner {
  margin: 20px 0;
}

section#hero-section .title-banner h2 {

  font-size: 3rem;
  font-weight: 600;
}

section#hero-section .title-banner h1 {

  font-size: 3.5rem;
  font-weight: 700;
  color: #F65251;

}

section#hero-section .desc-banner {

    margin: 20px 0 30px;
}

section#hero-section  .desc-banner p {

    font-weight: 400;
    color: #6a6a6a;
    line-height: 28px;
}


section#hero-section .button-banner .btn-primary {

  box-shadow: rgba(255, 86, 86, 0.356) 0px 7px 29px 0px;
}

/* End hero-section */

/* Design-section */

section#design {

  margin: 2rem 0 8rem;
}

.title-text {

  margin-bottom: 3rem;
}

 .title-text h3 {

  font-weight: 700;
}

.title-text p {
  color: #6a6a6a;
}

.title-text .garis {
  width: 90px;
  position: relative;
  height: 5px;
  background: #F65251;
  left: 0;
  right: 0;
  margin: 25px auto;
  border-radius: 10px;
}


section#design .produk-item {

}

section#design .produk-item .gambar {

  border-radius: 20px;
  overflow: hidden;
  transition: .5s all ease-in-out;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
}

section#design .produk-item .gambar img:hover {
  transform: scale(1.1);
  
}

section#design .produk-item .gambar img {

  width: 100%;
  border-radius: 10px;
  transition: .5s all ease-in-out;
}


section#design .produk-item .description {
  position: relative;
  background-color: white;
  bottom: -24px;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 16%);
  padding: 6px 0 2px;
  z-index: 99;
}

section#design .produk-item .description h2{

  font-size: 1.25rem;
  font-weight: 600;
}

/* end design-section */

/* about-section */

section#about .title-text p {
  padding: 0 18%;
  color: #6a6a6a;
}

section#about .gambar {
  margin: 20px 0;
}

section#about .gambar img {
  min-width: 200px;
  max-width: 201px;
}

/* end about */


/* fitur section */

section#fitur {
  margin: 5rem 0;
}

section#fitur .title-text h2 {

  font-weight: 700;

}

section#fitur .title-text p {
  padding: 0 18%;
} 



/* breakpoints */

@media (max-width: 375px) {
  
}
@media (max-width: 552px) {


  /* Navbar-section */

  nav .navbar-collapse {
    padding: 20px;
    border: 1px solid #ebebeb;
    margin: 20px;
    border-radius: 5px;
  }
  

   /* Hero-section */

   section#hero-section .title-banner,
   section#hero-section .button-banner,
   section#hero-section .desc-banner{ 
     text-align: center;
   }

   section#hero-section .title-banner h1 {

    font-size: 3rem;
   }

   section#hero-section .title-banner h2 {
     font-size: 2.4rem;
   }
   
   section#hero-section .gambar-banner {
      text-align: center;


   }
   section#hero-section .gambar-banner img {

    width: 90%;
   }

   .left-side {
     margin-bottom: 3rem;
   }


}
@media (max-width: 768px) {
  
}
@media (max-width: 992px) {
  
}
@media (max-width: 1024px) {
  
}